<article class="box-border mb-10 md:pb-0 md:col-span-2 lg:col-span-2">
  <section class="flex flex-row justify-between text-overlay0 font-mono text-sm">
    <span>{{ dateFormat "02 Jan 2006" .Date }}</span>
    {{ if .Draft }}
    <span class="uppercase text-maroon"> Draft </span>
    {{ end }}
    <span>{{ .ReadingTime }} min read</span>
  </section>
  <h2 class="font-display text-2xl font-bold pb-3">
    <a class="rsr-link" href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h2>
  <p class="text-text">{{ .Params.description }}</p>
</article>
