{{ if gt .ReadingTime 1 }}
{{ .Scratch.Set "timeUnit" "mins" }}
{{ else }}
{{ .Scratch.Set "timeUnit" "min" }}
{{ end }}
<article
  class="{{ if .Draft }}border border-dotted border-maroon{{ end }} box-border mb-10 md:pb-0 md:col-span-2 lg:col-span-2">
  <section class="flex flex-row justify-between">
    <span class="font-mono z-0 text-overlay0 text-sm">
      {{ dateFormat "02 Jan 2006" .Date }}
    </span>
    <span class="text-sm text-overlay0 font-mono uppercase">
      {{ .ReadingTime }} {{ .Scratch.Get "timeUnit" }} read
    </span>
  </section>
  <h2 class="font-display text-2xl font-bold pb-3">
    <a class="rsr-link" href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h2>
  <p class="text-text">{{ .Params.description }}</p>
</article>
