@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/Quattrocento-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/QuattrocentoSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/Quattrocento-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/QuattrocentoSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'mplus-2m-nerd-font-patched';
  src: url('/fonts/mplus_2m.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mplus-2m-nerd-font-patched';
  src:
    url('/fonts/mplus_2m.woff') format('woff'),
    url('/fonts/mplus_2m.ttf') format('truetype'),
    url('/fonts/mplus_2m.svg#mplus_2m') format('svg');
  font-weight: normal;
  font-style: normal;
}
