@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /**
 * La clase `.highlight` viene de la aplicación _highlight.js_.
 * <https://github.com/highlightjs/highlight.js>
 *
 * Estoy usando el tema de Catppuccin que se luce bien, pero no tiene suporte
 * por la directiva para destacar texto. Sin el codigo de abajo, codigo
 * resaltado aparece con un fondo amarillo. Con esta anulación el codigo
 * tiene un fondo de `bg-crust` que es un color de Catppuccin.
 */
  .highlight .chroma .line.hl,
  .highlight .chroma .hl {
    @apply bg-crust text-subtext1 rounded border border-overlay0 w-max;
  }

  .rsr-link {
    @apply transition-colors no-underline text-blue hover:text-rosewater decoration-1 decoration-wavy hover:underline underline-offset-4;
  }

  .rsr-link-active {
    @apply transition-colors text-mauve underline decoration-1 decoration-inherit decoration-wavy underline-offset-4;
  }

  .rsr-toc > summary {
    list-style: none;
  }
  .rsr-toc > summary::-webkit-details-marker {
    display: none;
  }
  .rsr-toc > summary::after {
    content: '  ';
    float: right;
  }
  .rsr-toc[open] > summary::after {
    content: '  ';
    float: right;
  }
  .rsr-toc ul {
    @apply list-none pl-2 m-0;
  }

  .rsr-page-link {
    @apply transition-all duration-300 py-1 px-2 text-blue rounded border border-crust hover:border-base hover:bg-rosewater hover:text-base;
  }

  .rsr-page-link-active {
    @apply bg-mauve text-base hover:bg-mauve cursor-default;
  }
}
