<head>
  <meta charset="utf-8">
  {{ $title := print .Site.Params.AuthorName " | " .Title }}
  {{ $description := .Description }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  {{ if .IsHome }}{{ $description = .Site.Params.Description }}{{ end }}
  {{ if eq .Page.Type "experience" }}{{ $description = print "@ " .Page.Params.company " | " .Description }}{{end}}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description }}">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">

  <!-- Facebook Meta Tags -->
  <meta name="og:title" content="{{ $title }}">
  <meta name="og:type" content="{{ .Page.Type }}">
  <meta name="og:url" content="{{ .Page.Permalink }}">
  {{ $social_image := i18n "og_image" }}
  <meta name="og:image" content="{{ $social_image }}">
  <meta name="og:locale" content="{{ .Page.Language }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="{{ .Site.BaseURL }}">
  <meta name="twitter:url" content="{{ .Page.Permalink }}">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $description }}">
  <meta name="twitter:image" content="{{ delimit (slice .Site.BaseURL $social_image) "" }}">

  <!-- <link rel="icon" href="/favicon.ico" sizes="any"> -->
  <!-- <link rel="icon" href="/icon.svg" type="image/svg+xml"> -->
  <!-- <link rel="apple-touch-icon" href="icon.png"> -->

  {{ $catppuccin_latte := resources.Get "css/catppuccin-latte.css" }}
  <link rel="stylesheet" media="(prefers-color-scheme: light)" href="{{ $catppuccin_latte.Permalink }}">

  {{ $catppuccin_mocha := resources.Get "css/catppuccin-mocha.css" }}
  <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ $catppuccin_mocha.Permalink }}">

  {{ $fonts := resources.Get "css/fonts.css" }}
  <link rel="stylesheet" href="{{ $fonts.Permalink }}">

  {{ $css := resources.Get "css/index.css" }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#8839ef">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#cba6f7">
</head>
