<head>
  <meta charset="utf-8">
  {{ $title := print .Site.Params.AuthorName " | " .Title }}
  {{ $description := .Description }}
  {{ $type := "website" }}
  {{ if .IsHome }}
  {{ $title = .Site.Title }}
  {{ $description = .Site.Params.Description }}
  {{ end }}
  {{ if .IsPage }}
  {{ $type = "article" }}
  {{ end }}
  {{ if eq .Page.Type "experience" }}{{ $description = print "@ " .Page.Params.company " | " .Description }}{{end}}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description | markdownify }}">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">

  <!-- OpenGraph Meta Tags -->
  <meta name="title" property="og:title" content="{{ $title }}">
  <meta property="og:type" content="{{ $type }}">
  <meta property="og:url" content="{{ .Page.Permalink }}">
  {{ $social_image := i18n "og_image" }}
  {{ $social_article_image := ( printf "%simages/social-%s.jpg" .Page.Permalink .Page.Slug ) }}
  <meta property="og:locale" content="{{ .Page.Language }}">

  {{ if .Page.Slug }}
  <meta property="og:image" content="{{ $social_article_image }}">
  {{ else }}
  <meta property="og:image" content="{{ delimit ( slice .Site.BaseURL $social_image ) "" }}">
  {{ end }}

  <!-- Twitter Meta Tags -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ .Site.BaseURL }}">
  <meta property="twitter:url" content="{{ .Page.Permalink }}">
  <meta property="twitter:title" content="{{ $title }}">
  <meta property="twitter:description" content="{{ $description | markdownify }}">
  <meta property="twitter:image" content="{{ delimit (slice .Site.BaseURL $social_image) "" }}">

  <meta name="author" content="{{ .Site.Params.AuthorName }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="apple-mobile-web-app-title" content="write.rog.gr">
  <meta name="application-name" content="write.rog.gr">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#e6e6e6">

  {{ $catppuccin_latte := resources.Get "css/catppuccin-latte.css" }}
  <link rel="stylesheet" media="(prefers-color-scheme: light)" href="{{ $catppuccin_latte.Permalink }}">

  {{ $catppuccin_mocha := resources.Get "css/catppuccin-mocha.css" }}
  <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ $catppuccin_mocha.Permalink }}">

  {{ $fonts := resources.Get "css/fonts.css" }}
  <link rel="stylesheet" href="{{ $fonts.Permalink }}">

  {{ $css := resources.Get "css/index.css" }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="--ctp-base">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="--ctp-base">
</head>
