<header class="font-display text-overlay0 py-5 px-10">
  <section
    class="w-auto flex flex-row items-center justify-between text-4xl md:text-3xl font-display font-extralight italic">
    <a class="rsr-link text-mauve" href="{{ .Site.Home.RelPermalink }}">
      {{ .Site.Title }}
    </a>
  </section>
  <nav class="text-center absolute top-6 right-10 rounded hidden md:block">{{ partial "navigation/translate.html" . }}
  </nav>
  <ul class="pt-5 w-auto flex flex-row uppercase justify-start">
    {{- $active_link_style := "" -}}
    {{- $currentPage := . -}}
    {{ range .Site.Menus.main -}}
    {{ if $currentPage.IsMenuCurrent "main" . }}
    {{ $active_link_style = "rsr-link-active" }}
    {{ else }}
    {{ $active_link_style = "" }}
    {{ end }}
    <li class="block mr-3 rsr-link">
      <a class="{{ $active_link_style }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </li>
    {{- end }}
  </ul>
</header>
