{{ $image_container_classes := "" }}

<section class="relative bg-mantle text-subtext0 p-10 mb-10">
  {{ partial "reading-time.html" . }}

  <h1 class="text-5xl md:text-8xl font-display font-black text-mauve">
    {{ .Title }}
  </h1>
  {{ if eq "jobs" .Type }}
  {{ $image_container_classes = "hidden" }}
  {{ end }}

  {{ if eq .Page.Type "experience" }}
  <h2 class="pt-4 text-xl md:text-3xl font-body font-black italic text-overlay0">
    at {{ .Params.company }} from
    <span>{{ dateFormat "Jan 2006" .Date }}</span>
    {{ if .Params.EndDate }}
    <span>—</span>
    <span>{{ dateFormat "Jan 2006" .Params.EndDate }}</span>
    {{ else }}
    <span>—</span>
    <span>Present</span>
    {{- end -}}

  </h2>
  <img class="absolute top-0 right-0 w-10 h-10 md:w-14 md:h-14" src="{{ .Params.logo | relURL }}"
    alt="{{ .Params.company }}'s Company logo">
  {{ end }}

  {{ partial "post-detail.html" . }}

  <section class="pt-5 flex flex-row">
    <p class="text-xl md:text-3xl font-display font-extralight italic prose text-overlay1 lg:w-1/2 ">
      {{ .Description | markdownify }}
    </p>
    {{ if .Params.image }}
    {{- $alt_text := default "hero image" (.Params.image_description) -}}
    <div class="{{ print $image_container_classes }} rounded lg:rounded-t-xl">
      <img class="object-fill" src="{{ .Params.image | relURL }}" alt="{{ $alt_text }}">
    </div>
    {{ end }}
  </section>

</section>
