<section class="flex flex-row content-between mt-10">
  {{ with .NextInSection }}
  <div class="w-full text-left">
    <span class="block">Previous Post</span>
    <a class="rsr-link" href="{{ .RelPermalink }}" title="{{ .Description | markdownify }}"><code
        class="before:content-none after:content-none text-inherit"></code> {{ .Title }}</a>
  </div>
  {{ end }}
  {{ with .PrevInSection }}
  <div class="w-full text-right">
    <span class="block">Next Post</span>
    <a class="rsr-link" href="{{ .RelPermalink }}" title="{{ .Description | markdownify }}">
      {{ .Title }} <code class="before:content-none after:content-none text-inherit"></code></a>
  </div>
  {{ end }}
</section>
