<section class="w-auto flex flex-row justify-center">
  {{ partial "social-link" (dict "context" . "network" "github" "href" "https://github.com/") }}
  {{ partial "social-link" (dict "context" . "network" "twitter" "href" "https://twitter.com/") }}
  {{ partial "social-link" (dict "context" . "network" "mastadon" "href" "https://infosec.exchange/") }}
  {{ partial "social-link" (dict "context" . "network" "sourcehut" "href" "https://git.sr.ht/") }}
  {{ partial "social-link" (dict "context" . "network" "linkedin" "href" "https://linkedin.com/") }}
</section>
