{{ $href := print .BaseURL .Handle }}
{{ $title := print .Handle " on " .Name }}
{{ $network := lower .Name }}
{{ $class := print "fill-current h-5 w-auto" }}

{{/*
<!--
  NOTE: Esta logica es pa' quitar la arroba de GitHub y Twitter para crear
  el URL para mis usarios
-->
*/}}
{{ if or (eq .Name "GitHub") (eq .Name "Twitter") }}
{{ $href = print .BaseURL (replace .Handle "@" "") }}
{{ end }}

{{/*
<!--
  NOTE: Esto es la regexp para añadir classes y el contenido de del archivo de
  SVG.
-->
*/}}
{{ $replaceWith := printf `<svg class="%s" ${1}>${2}</svg>` $class }}
{{ $match := "<svg (.*)?>(.*)</svg>" }}

<a class="px-2.5 text-rosewater hover:text-inherit" href="{{ $href }}" title="{{ $title }}">
  {{ (replaceRE $match $replaceWith (printf "/assets/svg/%s.svg" $network | readFile) | safeHTML) }}
</a>
