{{- $download_link := "/resume.pdf" -}}
{{- $download_filename := printf "roger-steve-ruiz-resume-%d.pdf" now.Year -}}
{{- $title := .Get 0 -}}

<p>
  <a title="{{ $title }}" href="{{ $download_link }}" target="_blank" rel="noopener noreferrer">
    {{ $title }}
  </a>
  <span> {{ i18n "or" }} </span>
  <a title="{{ $title }}" href="{{ $download_link }}" download="{{ $download_filename }}">
    <code>{{ "\uf019" | safeHTML }}</code>{{ i18n "download_resume" }}</a>
</p>

<p>
  {{ i18n "view_resume" }}<a href="https://resume.rog.gr/" target="_blank" rel="noopener noreferrer"
    title="Roger Steve Ruiz's JSON resume">
    https://resume.rog.gr/
  </a>.
</p>
